{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "plugins": [
    "import"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/jsx-max-props-per-line": [
      2,
      {
        "when": "always"
      }
    ],
    "lines-between-class-members": [
      "error",
      "always"
    ],
    "import/order": [
      "error",
      {
        "newlines-between": "always"
      }
    ]
  }
}